**/*.swp
**/.*.swp
*.swp
.*.swp
.DS_Store
.bundle
.rvmrc
.sass-cache
config/database.yml
config/application.yml
config/environment.yml
config/personal_env.rb
config/sphinx*.conf
coverage
data
db/*.sqlite3
doc/api
doc/app
doc/plugins
log
pkg
public/javascripts/cache
public/stylesheets/cache
solr/data
spec/dummy/log
spec/dummy/db/*.sqlite3
spec/dummy/tmp
spec/profile.txt
test/dummy/log
test/dummy/db/*.sqlite3
test/dummy/tmp
tmp
vendor/bundle
vendor/bundler
